body {
    font-family: Comfortaa;
    margin: 0;
    background-image: linear-gradient(to bottom, #DCD2BE 0%, #B4A078 100%);
    position: relative;
    transition: background-image 0.5s ease;
    /* Ajoute une transition douce */
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 1000;
}


nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 6.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-image: linear-gradient(to bottom right, #DCD2BE, #B4A078);
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 60%;
    padding: 0%;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-bottom: 10px;
}


nav .upper {
    width: 40px;
    transition: width 0.2s ease;
}

nav .upper:hover {
    width: 60px;
}


main {
    padding-top: 250px;
}

h1 {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
}

section {
    border-bottom: black solid 3px;
    border-radius: 20px;
    height: 30rem;
    margin: 5rem 0;
}

#logo {
    width: 12rem;
    top: 10px;
    left: 50%;
    padding-bottom: 10px;
}

.arrow_down {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 40px;
}

.arrow_down:hover {
    opacity: 0.5;
}
